@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/pink";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.main {
    display: flex;
}
