.navbar {
    padding: 16px;
}

.navbar_redesigned {
    padding: 16px;
}

.lang {
    color: var(--inverted-secondary-color);
    font-weight: bold;
}

.singIn {
    font-weight: bold;
    color: var(--inverted-secondary-color);
}
