:root {
    --font-family-main: verdana, "Times New Roman", sans-serif;

    // s
    --font-size-s: 12px;
    --font-line-s: 20px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // m
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // l
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // xl
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры

    --navbar-height: 64px;
    --sidebar-width: 200px;
    --sidebar-width-collapsed: 80px;

    // Z индексы

    --modal-z-index: 10;

    // Цвета

    --overlay-color: rgb(0 0 0 / 70%);
    --red-light: #d92e2e;
    --red-dark: #a82424;
    --green-success: #2ed937;
    --grey-disable: #9a9a9a;
    --white: #fff;

    // redesigned

    --font-family-text-redesigned: "Nunito Sans", sans-serif;
    --font-family-title-redesigned: "Roboto", sans-serif;

    // s
    --font-s-redesigned: var(--font-size-s) / var(--font-line-s) var(--font-family-text-redesigned);

    // m
    --font-m-redesigned: var(--font-size-m) / var(--font-line-m) var(--font-family-text-redesigned);

    // l
    --font-l-redesigned: var(--font-size-l) / var(--font-line-l) var(--font-family-title-redesigned);

    // xl
    --font-xl-redesigned: var(--font-size-xl) / var(--font-line-xl) var(--font-family-title-redesigned);
}
