.appLink {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
        opacity: 0.7;
        fill-opacity: 0.7;
        text-decoration: underline;
    }
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--inverted-secondary-color);
}
