.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.content {
    display: flex;
    position: relative;
    max-width: 400px;
    height: content-box;
    padding: 30px;
    border-radius: 15px;
    background: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
    }
}

.closed {
    .content {
        transform: scale(0.3);
    }
}

.closeBtn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -7px;
    right: -50px;
    cursor: pointer;
    transition: 0.3s transform;
}

.closeBtn:hover {
    transform: rotate(90deg);
}
