.title {
    color: var(--text-redesigned);
}

.text {
    color: var(--text-redesigned);
}

.error {
    .title {
        color: var(--cancel-redesigned);
    }

    .text {
        color: var(--cancel-redesigned);
    }
}

.accent {
    .title {
        color: var(--accent-redesigned);
    }

    .text {
        color: var(--accent-redesigned);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.s {
    .title {
        font: var(--font-m-redesigned);
    }

    .text {
        font: var(--font-l-redesigned);
    }
}

.m {
    .title {
        font: var(--font-l-redesigned);
    }

    .text {
        font: var(--font-m-redesigned);
    }
}

.l {
    .title {
        font: var(--font-xl-redesigned);
    }

    .text {
        font: var(--font-l-redesigned);
    }
}
