.sidebar {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.button {
    position: absolute;
    bottom: 0;
    right: -45px;
    border-radius: 0 5px 0 0;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
