.sidebarItem {
    text-align: center;
    display: flex;
    justify-content: center;
}

.sidebarItem:not(:first-child) {
    margin-top: 15px;
}

.icon {
    display: none;
    fill: var(--inverted-secondary-color);
}

.text {
    display: block;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .icon {
        display: block;
    }

    .text {
        display: none;
    }
}
