.sidebar {
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;
}

.button {
    position: absolute;
    bottom: 0;
    right: -45px;
    border-radius: 0 5px 0 0;
    z-index: 3;
}

.logo {
    top: 20px;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}
