.menu {
    position: relative;
}

.button,
.buttonWrapper {
    background: none;
    border: none;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    min-width: 200px;
    width: 100%;
    background: var(--white);
    border-radius: 5px;
    margin-top: 3px;
    padding: 8px 0;
    -webkit-box-shadow: 0 0 6px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 6px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 0 6px 2px rgb(0 0 0 / 20%);
}

.item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    background: none;
    border: none;
    text-transform: none;
}

.active {
    background-color: var(--inverted-secondary-color);
}

.dropdownTop {
    bottom: 100%;
}

.dropdownRight {
    left: 100%;
    top: 0;
}

.dropdownBottom {
    top: 100%;
}

.dropdownLeft {
    right: 100%;
    top: 0;
}
