.page404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font: var(--font-size-l);
}

.container {
    display: grid;
    text-align: center;
    gap: 20px;
}
