.app_dark_theme {
    --bg-color: #061300;
    --inverted-bg-color: #e5f5e1;
    --primary-color: #04bb04;
    --secondary-color: #04ff04;
    --inverted-primary-color: #030;
    --inverted-secondary-color: #014b01;

    // redesigned

    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton

    --skeleton-shadow: #016401;
    --skeleton-color: #0b930b;

    // code

    --code-bg: #fdfdfd;
}
