.app_dark_theme {
    --bg-color: #061300;
    --inverted-bg-color: #e5f5e1;
    --primary-color: #04bb04;
    --secondary-color: #04ff04;
    --inverted-primary-color: #030;
    --inverted-secondary-color: #014b01;

    // skeleton

    --skeleton-shadow: #016401;
    --skeleton-color: #0b930b;

    // code

    --code-bg: #fdfdfd;
}
