.app_light_theme {
    --bg-color: #e5f5e1;
    --inverted-bg-color: #061300;
    --primary-color: #030;
    --secondary-color: #014b01;
    --inverted-primary-color: #04bb04;
    --inverted-secondary-color: #04ff04;

    // redesigned

    --dark-bg-redesigned: #fff;
    --bg-redesigned: #eff5f7;
    --light-bg-redesigned: #e2eef1;
    --text-redesigned: #141c1f;
    --hint-redesigned: #adbcc0;
    --cancel-redesigned: #f77;
    --save-redesigned: #62de85;
    --icon-redesigned: #5ed3f3;
    --accent-redesigned: #00c8ff;

    // skeleton

    --skeleton-shadow: #057505;
    --skeleton-color: #57d057;

    // code

    --code-bg: #fff;
}
