.app_pink_theme {
    --bg-color: #a22293;
    --inverted-bg-color: #fbf4fa;
    --primary-color: #fbf4fa;
    --secondary-color: #a85cff;
    --inverted-primary-color: #a85cff;
    --inverted-secondary-color: #a22293;
}
