.icon {
    fill: var(--icon-redesigned);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.icon:hover {
    fill: var(--accent-redesigned);
}
