.page {
    flex: 1 1 0;
    padding: 30px 40px 80px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
}

.trigger {
    height: 20px;
    margin: 10px;
}

.page_redesigned {
    overflow-y: auto;
}
