.commentsTitle,
.recommendationsTitle {
    margin-bottom: 20px;
}

.recommendations {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.articleRating {
    margin: 40px 0;
}
