.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: var(--navbar-height);
    padding: 20px 40px;
    background: var(--inverted-bg-color);
}

.lang {
    color: var(--inverted-secondary-color);
    font-weight: bold;
}

.singIn {
    font-weight: bold;
    color: var(--inverted-secondary-color);
    margin-right: 20px;
}
