.navbar {
    height: var(--navbar-height);
    padding: 20px 40px;
    background: var(--inverted-bg-color);
}

.lang {
    color: var(--inverted-secondary-color);
    font-weight: bold;
}

.singIn,
.dropdown {
    font-weight: bold;
    color: var(--inverted-secondary-color);
}
