.flex {
    display: flex;
}

// justify

.justifyStart {
    justify-content: flex-start;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center;
}

// align

.alignStart {
    align-items: flex-start;
}

.alignEnd {
    align-items: flex-end;
}

.alignCenter {
    align-items: center;
}

// direction

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

// wrap

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

// gap

.gap2 {
    gap: 2px;
}

.gap4 {
    gap: 4px;
}

.gap6 {
    gap: 6px;
}

.gap8 {
    gap: 8px;
}

.gap12 {
    gap: 12px;
}

.gap16 {
    gap: 16px;
}

.gap20 {
    gap: 20px;
}

.gap26 {
    gap: 26px;
}

.gap28 {
    gap: 28px;
}

.gap30 {
    gap: 30px;
}

.gap40 {
    gap: 40px;
}

// spaces
// space top

.spaceTop2 {
    margin-top: 2px;
}

.spaceTop4 {
    margin-top: 4px;
}

.spaceTop6 {
    margin-top: 6px;
}

.spaceTop8 {
    margin-top: 8px;
}

.spaceTop12 {
    margin-top: 12px;
}

.spaceTop16 {
    margin-top: 16px;
}

.spaceTop20 {
    margin-top: 20px;
}

.spaceTop26 {
    margin-top: 26px;
}

.spaceTop28 {
    margin-top: 28px;
}

.spaceTop30 {
    margin-top: 30px;
}

.spaceTop40 {
    margin-top: 40px;
}

// space bottom

.spaceBottom2 {
    margin-bottom: 2px;
}

.spaceBottom4 {
    margin-bottom: 4px;
}

.spaceBottom6 {
    margin-bottom: 6px;
}

.spaceBottom8 {
    margin-bottom: 8px;
}

.spaceBottom12 {
    margin-bottom: 12px;
}

.spaceBottom16 {
    margin-bottom: 16px;
}

.spaceBottom20 {
    margin-bottom: 20px;
}

.spaceBottom26 {
    margin-bottom: 26px;
}

.spaceBottom28 {
    margin-bottom: 28px;
}

.spaceBottom30 {
    margin-bottom: 30px;
}

.spaceBottom40 {
    margin-bottom: 40px;
}

// space left

.spaceLeft2 {
    margin-left: 2px;
}

.spaceLeft4 {
    margin-left: 4px;
}

.spaceLeft6 {
    margin-left: 6px;
}

.spaceLeft8 {
    margin-left: 8px;
}

.spaceLeft12 {
    margin-left: 12px;
}

.spaceLeft16 {
    margin-left: 16px;
}

.spaceLeft20 {
    margin-left: 20px;
}

.spaceLeft26 {
    margin-left: 26px;
}

.spaceLeft28 {
    margin-left: 28px;
}

.spaceLeft30 {
    margin-left: 30px;
}

.spaceLeft40 {
    margin-left: 40px;
}

// space right

.spaceRight2 {
    margin-right: 2px;
}

.spaceRight4 {
    margin-right: 4px;
}

.spaceRight6 {
    margin-right: 6px;
}

.spaceRight8 {
    margin-right: 8px;
}

.spaceRight12 {
    margin-right: 12px;
}

.spaceRight16 {
    margin-right: 16px;
}

.spaceRight20 {
    margin-right: 20px;
}

.spaceRight26 {
    margin-right: 26px;
}

.spaceRight28 {
    margin-right: 28px;
}

.spaceRight30 {
    margin-right: 30px;
}

.spaceRight40 {
    margin-right: 40px;
}

// max (width)

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}
