.bottomSheet {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    display: flex;
    align-items: flex-end;
}

.content {
    z-index: 1000;
    position: fixed;
    left: 2vw;
    height: calc(100vh + 100px);
    width: 96vw;
    border-radius: 12px 12px 0;
    background: var(--bg-color);
    touch-action: none;
    padding: 15px;
}

.content::before {
    content: "";
    position: relative;
    display: block;
    width: 100px;
    height: 10px;
    background: var(--overlay-color);
    margin: auto;
    bottom: 5px;
    border-radius: 12px;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: translateY(0%);
    }
}

.closed {
    .content {
        transform: translateY(100%);
    }
}
