.card {
    padding: 24px;
    border-radius: 8px;
}

.normal {
    -webkit-box-shadow: 0 0 6px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 0 6px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 0 6px 2px rgb(0 0 0 / 20%);
}

.outlined {
    border: 2px solid var(--accent-redesigned);
}

.withoutPadding {
    padding: 0;
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}
