.profileCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 8px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 8px;
}

.input:not(:last-child) {
    margin-bottom: 15px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--inverted-bg-color);
    margin-bottom: 5px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.countrySelect {
    margin-bottom: 15px;
}
