.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 30px;
    border: 2px solid var(--inverted-bg-color);
    border-radius: 8px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--inverted-bg-color);
    margin-bottom: 5px;
}
