.appButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    line-height: 1;
}

.clear {
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 2px solid var(--primary-color);
    background: none;
    border-radius: 5px;
}
