.articlePageFilters {
    margin-bottom: 20px;
}

.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search {
    width: 100%;
}

.tabs {
    margin-top: 15px;
}
