.sidebarItem {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-decoration: none;
    padding: 5px 35px;
}

.text {
    display: flex;
    align-items: flex-end;
    line-height: 1.1;
    color: var(--icon-redesigned);
}

.icon {
    margin-right: 8px;
}

.collapsed {
    width: var(--sidebar-width-collapsed-redesigned);
    justify-content: center;
    padding: 5px 0;

    .text {
        display: none;
    }

    .icon {
        margin-right: 0;
    }
}

.sidebarItem:hover {
    .text {
        transition: 0.1s;
        color: var(--accent-redesigned);
    }

    .icon {
        transition: 0.05s;
        fill: var(--accent-redesigned);
    }
}

.active {
    position: relative;
    background: linear-gradient(89.97deg, rgb(94 211 243 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);

    &::before {
        content: "";
        position: absolute;
        width: 2px;
        top: 0;
        left: 0;
        background: var(--accent-redesigned);
        height: 100%;
    }
}
